<template>
  <link rel="stylesheet" href="components/ynap-product.css">
  <ynap-product>
    <img
      src="https://cache.net-a-porter.com/images/products/663475/663475_in_sl.jpg"
      data-primary-image="https://cache.net-a-porter.com/images/products/663475/663475_in_sl.jpg"
      data-secondary-image="https://cache.net-a-porter.com/images/products/663475/663475_ou_sl.jpg"
    >
    <p class="product__designer">Designer name</p>
    <p class="product__name">Product name</p>
    <p class="product__price">£1000</p>
  </ynap-product>

  <script src="components/ynap-product.js"></script>
</template>
